In [1]:
import pandas as pd
import numpy as np

In [2]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df = pd.read_csv(DataUrl, encoding='euc-kr')

In [3]:
df.head(5)

  gameId\tcreationTime\tgameDuration\tseasonId\twinner\tfirstBlood\tfirstTower\tfirstInhibitor\tfirstBaron\tfirstDragon\tfirstRiftHerald\tt1_champ1id\tt1_champ1_sum1\tt1_champ1_sum2\tt1_champ2id\tt1_champ2_sum1\tt1_champ2_sum2\tt1_champ3id\tt1_champ3_sum1\tt1_champ3_sum2\tt1_champ4id\tt1_champ4_sum1\tt1_champ4_sum2\tt1_champ5id\tt1_champ5_sum1\tt1_champ5_sum2\tt1_towerKills\tt1_inhibitorKills\tt1_baronKills\tt1_dragonKills\tt1_riftHeraldKills\tt1_ban1\tt1_ban2\tt1_ban3\tt1_ban4\tt1_ban5\tt2_champ1id\tt2_champ1_sum1\tt2_champ1_sum2\tt2_champ2id\tt2_champ2_sum1\tt2_champ2_sum2\tt2_champ3id\tt2_champ3_sum1\tt2_champ3_sum2\tt2_champ4id\tt2_champ4_sum1\tt2_champ4_sum2\tt2_champ5id\tt2_champ5_sum1\tt2_champ5_sum2\tt2_towerKills\tt2_inhibitorKills\tt2_baronKills\tt2_dragonKills\tt2_riftHeraldKills\tt2_ban1\tt2_ban2\tt2_ban3\tt2_ban4\tt2_ban5
0  3326086514\t1504279457970\t1949\t9\t1\t2\t1\t1...
1  3229566029\t1497848803862\t1851\t9\t1\t1\t1\t1...
2  3327363504\t1504360103310\t1493\t9\t1\t2\t1\t1...
3  3326856598\t1504348503996\t1758\t9\t1\t1\t1\t1...
4  3330080762\t1504554410899\t2094\t9\t1\t2\t1\t1...

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
print(df.shape)
print('행',df.shape[0])
print('열',df.shape[1])

(51490, 1)
행 51490
열 1

In [6]:
df.

SyntaxError: invalid syntax (791285630.py, line 1)

In [ ]:
Ans = df.iloc[2,5]

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl, encoding = 'cp949')

In [ ]:
df.head()

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,22448,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.5
1,22449,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.5
2,22450,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.4
3,22451,2018-01-01,제주시,일도1동,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.4
4,22452,2018-01-01,서귀포시,대천동,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.3

In [ ]:
df.tail(3)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

In [ ]:
dt = ('object','int','float64')
Ans = df.select_dtypes(exclude=dt).columns
Ans

Index([], dtype='object')

In [ ]:
Ans = df.select_dtypes(include = 'object').columns
Ans

Index(['일자', '시도명', '읍면동명'], dtype='object')

In [ ]:
df.isnull().sum()

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

In [ ]:
df.describe()

,id,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
count,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

In [ ]:
df['거주인구']

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

In [ ]:
df['평균 속도'].quantile(0.75) - df['평균 속도'].quantile(0.25)

14.854999999999997

In [ ]:
df['읍면동명'].nunique()

41

In [41]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(DataUrl, encoding='cp949')
df.shape

(4622, 5)

In [ ]:
Ans = df.loc[df['quantity'] == 3 ].head()
Ans

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

In [44]:
df['new_price'] = df['item_price'].str[1:].astype('float')
Ans = df['new_price'].head()
df.head()

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [ ]:
#
Ans = df.loc[df['quantity'] == 3 ].reset_index(drop=True)
Ans

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75
5,379,3,Canned Soft Drink,[Lemonade],$3.75
6,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$27.75
7,616,3,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$26.25
8,633,3,Canned Soft Drink,[Coke],$3.75
9,1051,3,Chips and Guacamole,NaN,$13.35
10,1121,3,Bottled Water,NaN,$3.27
11,1167,3,Chips,NaN,$6.45
12,1170,3,Side of Chips,NaN,$5.07
13,1182,3,Chips and Tomatillo-Red Chili Salsa,NaN,$7.17
14,1231,3,Canned Soft Drink,[Diet Coke],$3.75
15,1247,3,Canned Soft Drink,[Diet Coke],$3.75
16,1309,3,Chips and Tomatillo-Red Chili Salsa,NaN,$7.17
17,1321,3,Bottled Water,NaN,$4.50
18,1328,3,Bottled Water,NaN,$4.50
19,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",$26.07
20,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25
21,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75
22,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$27.75
23,1454,3,Chicken Burrito,[Fresh Tomato Salsa],$26.25
24,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",$26.25
25,1642,3,Canned Soft Drink,[Diet Coke],$3.75
26,1655,3,Bottled Water,NaN,$4.50
27,1671,3,Bottled Water,NaN,$4.50

In [ ]:
#23.
Ans = df[['quantity','item_price']]
Ans

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

In [ ]:
df['new_price'] = df['item_price'].str[1:].astype('float')
Ans = df['new_price'].head()
Ans

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: new_price, dtype: float64

In [ ]:
Ans = len(df.loc[df['new_price'] <= 5])
Ans

1652

In [ ]:
Ans = df.loc[df['item_name']=='Chicken Salad Bowl'].reset_index(drop=True)
Ans

,order_id,quantity,item_name,choice_description,item_price,new_price
0,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
1,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50,22.50
2,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50,22.50
3,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
4,137,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$17.50,17.50
...,...,...,...,...,...,...
105,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50,17.50
106,1822,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$11.25,11.25
107,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
108,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
109,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [ ]:
Ans = df.loc[(df['item_name'] == 'Chicken Salad Bowl') & (df['new_price'] <= 9)]
Ans.head()

,order_id,quantity,item_name,choice_description,item_price,new_price
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
256,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
526,220,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
528,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
529,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75

In [ ]:
Ans = df.sort_values('new_price',ascending=False).reset_index(drop=True)
Ans.head()

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
1,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
2,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
4,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75

In [ ]:
Ans = df.loc[df.item_name.str.contains('Chips')]
Ans.head()

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
14,7,1,Chips and Guacamole,NaN,$4.45,4.45

In [ ]:
Ans = df.iloc[:,::2]
Ans

      order_id                              item_name item_price
0            1           Chips and Fresh Tomato Salsa     $2.39
1            1                                   Izze     $3.39
2            1                       Nantucket Nectar     $3.39
3            1  Chips and Tomatillo-Green Chili Salsa     $2.39
4            2                           Chicken Bowl    $16.98
...        ...                                    ...        ...
4617      1833                          Steak Burrito    $11.75
4618      1833                          Steak Burrito    $11.75
4619      1834                     Chicken Salad Bowl    $11.25
4620      1834                     Chicken Salad Bowl     $8.75
4621      1834                     Chicken Salad Bowl     $8.75

[4622 rows x 3 columns]

In [ ]:
Ans = df.sort_values('new_price',ascending=False).reset_index(drop=True)
Ans

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
1,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
2,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
4,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
...,...,...,...,...,...,...
4617,1578,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09
4618,1162,1,Bottled Water,NaN,$1.09,1.09
4619,567,1,Canned Soda,[Coca Cola],$1.09,1.09
4620,1014,1,Canned Soda,[Coca Cola],$1.09,1.09
4621,591,1,Canned Soda,[Sprite],$1.09,1.09

In [ ]:
Ans = df.loc[(df.item_name == 'Steak Salad') | (df.item_name == 'Bowl')]
Ans = Ans.drop_duplicates('item_name')
Ans

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99

In [ ]:
Ans = df.loc[(df.item_name == 'Steak Salad') | (df.item_name == 'Bowl')]
Ans = Ans.drop_duplicates('item_name',keep='last')
Ans

,order_id,quantity,item_name,choice_description,item_price,new_price
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69

In [ ]:
Ans = df.loc[df.new_price >= df.new_price.mean()]
#Ans = df.loc[df.new_price >= df.new_price.mean()]
Ans.head()

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25

In [14]:
Ans = df[df['item_name'] == 'Izze']['item_name'] == 'Fizzy Lizzy'
Ans

(20, 5)

In [15]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [18]:
#Ans = df['choice_description'].isnull().sum()
Ans = df.choice_description.isnull().sum()
Ans

1246

In [19]:
#38. df의 데이터 중 choice_description 값이 NaN 인 데이터를 NoData 값으로 대체하라(loc 이용)
df.loc[df.choice_description.isnull(),'choice_description']== 'NoData'
df.loc[:,'choice_description'] = df['choice_description'].fillna('NoData')

0       False
3       False
6       False
10      False
14      False
        ...
4600    False
4605    False
4613    False
4614    False
4616    False
Name: choice_description, Length: 1246, dtype: bool

In [20]:
df['choice_description'].isnull().sum()

1246

In [21]:
df['choice_description'].fillna('NoData')

0                                                  NoData
1                                            [Clementine]
2                                                 [Apple]
3                                                  NoData
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

In [26]:
#39. df의 데이터 중 choice_description 값에 Black이 들어가는 경우를 인덱싱하라
#Ans = df[df.choice_description.str.contains('Black')]
Ans = df[df.choice_description.str.contains('Black')]
Ans.head()

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [27]:
#40. df의 데이터 중 choice_description 값에 Vegetables 들어가지 않는 경우의 갯수를 출력하라
Ans = df.loc[~df['choice_description'].str.contains('Vegetables')].shape[0]
Ans = len(df.loc[~df.choice_description.str.contains('Vegetables')])
Ans

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [30]:
#41. df의 데이터 중 item_name 값이 N으로 시작하는 데이터를 모두 추출하라
Ans = df[df.item_name.str.startswith('N')]
Ans

,order_id,quantity,item_name,choice_description,item_price
2,1,1,Nantucket Nectar,[Apple],$3.39
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
105,46,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
173,77,1,Nantucket Nectar,[Apple],$3.39
205,91,1,Nantucket Nectar,[Peach Orange],$3.39
436,189,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
601,247,2,Nantucket Nectar,[Pineapple Orange Banana],$6.78
925,381,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
1356,553,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
1585,641,1,Nantucket Nectar,[Peach Orange],$3.39
1626,656,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
1706,690,1,Nantucket Nectar,[Apple],$3.39
2162,872,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
2379,947,2,Nantucket Nectar,[Peach Orange],$6.78
2381,947,1,Nantucket Nectar,[Apple],$3.39
2430,965,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
2653,1053,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
2818,1118,1,Nantucket Nectar,[Apple],$3.39
2838,1128,1,Nantucket Nectar,[Peach Orange],$3.39
2853,1133,1,Nantucket Nectar,[Apple],$3.39
2949,1172,1,Nantucket Nectar,[Peach Orange],$3.39
3318,1330,1,Nantucket Nectar,[Peach Orange],$3.39
3368,1351,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
3570,1433,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
3845,1541,1,Nantucket Nectar,[Peach Orange],$3.39
4019,1609,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
4078,1632,1,Nantucket Nectar,[Peach Orange],$3.39

In [32]:
#42. df의 데이터 중 item_name 값의 단어갯수가 15개 이상인 데이터를 인덱싱하라
Ans = df[df.item_name.str.len() >= 15]
Ans

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
...,...,...,...,...,...
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [51]:
#43. df의 데이터 중 new_price값이 lst에 해당하는 경우의 데이터 프레임을 구하고 그 갯수를 출력하라
# lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

Ans = df.loc[df.new_price.isin(lst)]
display(Ans.head())
print(len(Ans))

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

1393

In [2]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv'
df = pd.read_csv(DataUrl)
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
#45. 데이터의 각 host_name의 빈도수를 구하고 host_name으로 정렬하여 상위 5개를 출력하라
Ans = df.groupby('host_name').size()

# or 

#Ans = df.host_name.value_counts().sort_index()
Ans.head(5)

host_name
'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
dtype: int64

In [4]:
#46. 데이터의 각 host_name의 빈도수를 구하고 빈도수 기준 
# 내림차순 정렬한 데이터 프레임을 만들어라. 빈도수 컬럼은 counts로 명명하라

Ans = df.groupby('host_name').size().\
               to_frame().rename(columns={0:'counts'}).\
               sort_values('counts',ascending=False)
               
#or

Ans = df.host_name.value_counts().to_frame().rename(columns={0:'counts'})

#or

Ans = df.host_name.value_counts().to_frame().rename(columns={'host_name':'counts'})
Ans

                   counts
Michael               417
David                 403
Sonder (NYC)          327
John                  294
Alex                  279
...                   ...
Rhonycs                 1
Brandy-Courtney         1
Shanthony               1
Aurore And Jamila       1
Ilgar & Aysel           1

[11452 rows x 1 columns]

In [11]:
#47. neighbourhood_group의 값에 따른 neighbourhood컬럼 값의 갯수를 구하여라
Ans = df.groupby(['neighbourhood_group','neighbourhood'], as_index=False).size()
Ans

    neighbourhood_group  neighbourhood  size
0                 Bronx       Allerton    42
1                 Bronx     Baychester     7
2                 Bronx        Belmont    24
3                 Bronx      Bronxdale    19
4                 Bronx    Castle Hill     9
..                  ...            ...   ...
216       Staten Island    Tottenville     7
217       Staten Island  West Brighton    18
218       Staten Island    Westerleigh     2
219       Staten Island    Willowbrook     1
220       Staten Island        Woodrow     1

[221 rows x 3 columns]

In [13]:
#48. neighbourhood_group의 값에 따른 neighbourhood컬럼 값 중 
# neighbourhood_group그룹의 최댓값들을 출력하라

Ans = df.groupby(['neighbourhood_group','neighbourhood'],as_index=False).size().groupby(['neighbourhood_group'],as_index=False).max()
Ans

  neighbourhood_group    neighbourhood  size
0               Bronx         Woodlawn    70
1            Brooklyn  Windsor Terrace  3920
2           Manhattan     West Village  2658
3              Queens         Woodside   900
4       Staten Island          Woodrow    48

In [16]:
#49. neighbourhood_group 값에 따른
# price값의 평균, 분산, 최대, 최소 값을 구하여라
Ans = df[['neighbourhood_group','price']].groupby('neighbourhood_group').agg(['mean','var','max','min'])
Ans

                          price
                           mean           var    max min
neighbourhood_group
Bronx                 87.496792  11386.885081   2500   0
Brooklyn             124.383207  34921.719135  10000   0
Manhattan            196.875814  84904.159185  10000   0
Queens                99.517649  27923.130227  10000  10
Staten Island        114.812332  77073.088342   5000  13

In [19]:
#50. neighbourhood_group 값에 따른 reviews_per_month 
# 평균, 분산, 최대, 최소 값을 구하여라
Ans = df[['neighbourhood_group','reviews_per_month']].groupby('neighbourhood_group').agg(['mean','var','max','min'])
Ans

                    reviews_per_month
                                 mean       var    max   min
neighbourhood_group
Bronx                        1.837831  2.799878  10.34  0.02
Brooklyn                     1.283212  2.299040  14.00  0.01
Manhattan                    1.272131  2.651206  58.50  0.01
Queens                       1.941200  4.897848  20.94  0.01
Staten Island                1.872580  2.840895  10.12  0.02

In [23]:
#51. neighbourhood 값과 neighbourhood_group 값에 따른 price 의 평균을 구하라
Ans = df.groupby(['neighbourhood','neighbourhood_group']).price.mean()
Ans

neighbourhood    neighbourhood_group
Allerton         Bronx                   87.595238
Arden Heights    Staten Island           67.250000
Arrochar         Staten Island          115.000000
Arverne          Queens                 171.779221
Astoria          Queens                 117.187778
                                           ...
Windsor Terrace  Brooklyn               138.993631
Woodhaven        Queens                  67.170455
Woodlawn         Bronx                   60.090909
Woodrow          Staten Island          700.000000
Woodside         Queens                  85.097872
Name: price, Length: 221, dtype: float64

In [24]:
#52. neighbourhood 값과 neighbourhood_group 값에 따른 price 의 
# 평균을 계층적 indexing 없이 구하라
Ans = df.groupby(['neighbourhood','neighbourhood_group']).price.mean().unstack()
Ans

neighbourhood_group,Bronx,Brooklyn,Manhattan,Queens,Staten Island
neighbourhood,,,,,
Allerton,87.595238,NaN,NaN,NaN,NaN
Arden Heights,NaN,NaN,NaN,NaN,67.25
Arrochar,NaN,NaN,NaN,NaN,115.00
Arverne,NaN,NaN,NaN,171.779221,NaN
Astoria,NaN,NaN,NaN,117.187778,NaN
...,...,...,...,...,...
Windsor Terrace,NaN,138.993631,NaN,NaN,NaN
Woodhaven,NaN,NaN,NaN,67.170455,NaN
Woodlawn,60.090909,NaN,NaN,NaN,NaN
Woodrow,NaN,NaN,NaN,NaN,700.00
Woodside,NaN,NaN,NaN,85.097872,NaN

In [25]:
#53. neighbourhood 값과 neighbourhood_group 값에 따른 
# price 의 평균을 계층적 indexing 없이 구하고 nan 값은 
# -999값으로 채워라
Ans = df.groupby(['neighbourhood','neighbourhood_group']).price.mean().unstack().fillna(-999)
Ans

neighbourhood_group,Bronx,Brooklyn,Manhattan,Queens,Staten Island
neighbourhood,,,,,
Allerton,87.595238,-999.000000,-999.0,-999.000000,-999.00
Arden Heights,-999.000000,-999.000000,-999.0,-999.000000,67.25
Arrochar,-999.000000,-999.000000,-999.0,-999.000000,115.00
Arverne,-999.000000,-999.000000,-999.0,171.779221,-999.00
Astoria,-999.000000,-999.000000,-999.0,117.187778,-999.00
...,...,...,...,...,...
Windsor Terrace,-999.000000,138.993631,-999.0,-999.000000,-999.00
Woodhaven,-999.000000,-999.000000,-999.0,67.170455,-999.00
Woodlawn,60.090909,-999.000000,-999.0,-999.000000,-999.00
Woodrow,-999.000000,-999.000000,-999.0,-999.000000,700.00
Woodside,-999.000000,-999.000000,-999.0,85.097872,-999.00

In [28]:
#54. 데이터중 neighbourhood_group 값이 Queens값을 가지는 데이터들 중 
# neighbourhood 그룹별로 price값의 평균, 분산, 최대, 최소값을 구하라
Ans = df[df.neighbourhood_group =='Queens'].groupby(['neighbourhood']).price.agg(['mean','var','max','mean'])
Ans.head(4)

                     mean            var    max        mean
neighbourhood
Arverne        171.779221   37383.411141   1500  171.779221
Astoria        117.187778  122428.811196  10000  117.187778
Bay Terrace    142.000000    6816.400000    258  142.000000
Bayside        157.948718  166106.470985   2600  157.948718

In [33]:
#55. 데이터중 neighbourhood_group 값에 따른 
# room_type 컬럼의 숫자를 구하고 neighbourhood_group 값을 
# 기준으로 각 값의 비율을 구하여라.
Ans = df[['neighbourhood_group','room_type']].groupby(['neighbourhood_group','room_type']).size().unstack()
Ans.loc[:,:] = (Ans.values / Ans.sum(axis=1).values.reshape(-1,1))
Ans

room_type            Entire home/apt  Private room  Shared room
neighbourhood_group
Bronx                       0.347388      0.597617     0.054995
Brooklyn                    0.475478      0.503979     0.020543
Manhattan                   0.609344      0.368496     0.022160
Queens                      0.369926      0.595129     0.034945
Staten Island               0.471850      0.504021     0.024129

In [34]:
Ans = df[['neighbourhood_group','room_type']].groupby(['neighbourhood_group','room_type']).size().unstack()
#Ans.loc[:,:] = (Ans.values / Ans.sum(axis=1).values.reshape(-1,1))
Ans

room_type            Entire home/apt  Private room  Shared room
neighbourhood_group
Bronx                            379           652           60
Brooklyn                        9559         10132          413
Manhattan                      13199          7982          480
Queens                          2096          3372          198
Staten Island                    176           188            9

In [37]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'
df = pd.read_csv(DataUrl,encoding='cp949')
df

,Unnamed: 0,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt
0,0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144
1,1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291
2,2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887
3,3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171
4,4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476
10123,10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764
10124,10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291
10125,10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395
10126,10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294

In [38]:
#56. 데이터를 로드하고 데이터 행과 열의 갯수를 출력하라
df.shape

(10127, 19)

In [40]:
#57. Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라 Unknown : N
#Less than $40K : a
#$40K - $60K : b
#$60K - $80K : c
#$80K - $120K : d
#$120K +’ : e
df['Income_Category'].unique()

array(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'Unknown'], dtype=object)

In [45]:
dic = {
    'Unknown' : 'N',
'Less than $40K' : 'a',
'$40K - $60K' : 'b',
'$60K - $80K' : 'c',
'$80K - $120K' : 'd',
'$120K +' : 'e'
}

df['newIncome'] = df.Income_Category.map(lambda x: dic[x])
Ans = df['newIncome']
Ans.head()

0    c
1    a
2    d
3    a
4    c
Name: newIncome, dtype: object

In [44]:
#58. Income_Category의 카테고리를 apply 함수를 이용하여
# 다음과 같이 변경하여 newIncome 컬럼에 매핑하라 Unknown : N
#Less than $40K : a
#$40K - $60K : b
#$60K - $80K : c
#$80K - $120K : d
#$120K +’ : e

In [50]:
def changeCategory(x):
    if x =='Unknown':
        return 'N'
    elif x == 'Less than $40K' :
        return 'a'
    elif x == '$40K - $60K':
        return 'b'
    elif x == '$60K - $80K':
        return 'c'
    elif x == '$80K - $120K':
        return 'd'
    elif x == '$120K +':
        return 'e'
    
    
df['newIncome'] =df.Income_Category.apply(changeCategory)

Ans = df['newIncome']
Ans.head(10)

0    c
1    a
2    d
3    a
4    c
5    b
6    e
7    c
8    c
9    d
Name: newIncome, dtype: object

In [52]:
#59. Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하라.
# (0~9 : 0 , 10~19 :10 , 20~29 :20 … 각 구간의 빈도수를 출력하라.
df['AgeState'] = df.Customer_Age.map(lambda x: x//10*10)
Ans = df['AgeState'].value_counts().sort_index()
Ans

20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: AgeState, dtype: int64

In [54]:
#59. Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하라.
# (0~9 : 0 , 10~19 :10 , 20~29 :20 … 각 구간의 빈도수를 출력하라.
df['AgeState'] = df.Customer_Age.map(lambda x: x//10*10)
Ans = df['AgeState'].value_counts().sort_index()
Ans

200     195
300    1841
400    4561
500    2998
600     530
700       2
Name: AgeState, dtype: int64

In [55]:
#60. Education_Level의 값중 Graduate단어가 포함되는 값은 1 
# 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고
# 빈도수를 출력하라
df['newEduLevel'] = df.Education_Level.map(lambda x:1 if 'Graduate' in x else 0)
Ans = df['newEduLevel'].value_counts()
Ans

0    6483
1    3644
Name: newEduLevel, dtype: int64

In [56]:
#61. Credit_Limit 컬럼값이 4500 이상인 경우 1 
# 그외의 경우에는 모두 0으로 하는 newLimit 정의하라. 
# newLimit 각 값들의 빈도수를 출력하라
df['newLimit'] = df.Credit_Limit.map(lambda x:1 if x >= 4500 else 0)
Ans = df['newLimit'].value_counts()
Ans

1    5096
0    5031
Name: newLimit, dtype: int64

In [60]:
#62. Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 
# Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라. 
# newState의 각 값들의 빈도수를 출력하라

def check(x):
    if x.Marital_Status == 'Marrid' and x.Card_Category == 'Platinum':
        return 1
    else:
        return 0

df['newState'] = df.apply(check, axis=1)

Ans = df['newState'].value_counts

Ans

<bound method IndexOpsMixin.value_counts of 0        0
1        0
2        0
3        0
4        0
        ..
10122    0
10123    0
10124    0
10125    0
10126    0
Name: newState, Length: 10127, dtype: int64>

In [67]:
#62. Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 
# Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라. 
# newState의 각 값들의 빈도수를 출력하라

def check(x):
    if x.Marital_Status == 'Marrid' and x.Card_Category == 'Platinum':
        return 1
    else:
        return 0

df['newState'] = df.apply(check, axis=1)

Ans = df['newState'].value_counts()

Ans

0    10127
Name: newState, dtype: int64

In [76]:
#63. Gender 컬럼값 M인 경우 male F인 경우 female로 값을 변경하여
# Gender 컬럼에 새롭게 정의하라. 각 value의 빈도를 출력하라
def changeGender(x):
    if x == 'M':
        return 'male'
    if x == 'F':
        return 'female'
    
df['Gender'] = df.Gender.apply(changeGender)

Ans = df['Gender'].value_counts()

Ans

Series([], Name: Gender, dtype: int64)

In [78]:
def changeGender(x):
    if x =='M':
        return 'male'
    else:
        return 'female'
df['Gender'] = df.Gender.apply(changeGender)
Ans = df['Gender'].value_counts()
Ans

female    10127
Name: Gender, dtype: int64

In [79]:
DtaUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv'
df = pd.read_csv(DataUrl)

In [103]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv')

In [104]:
df.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [91]:
#64. 데이터를 로드하고 각 열의 데이터 타입을 파악하라
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

In [88]:
import datetime

In [106]:
#65. Yr_Mo_Dy을 판다스에서 인식할 수 있는 datetime64타입으로 변경하라
df.Yr_Mo_Dy = pd.to_datetime(df.Yr_Mo_Dy)
Ans = df.Yr_Mo_Dy
Ans

0      2061-01-01
1      2061-01-02
2      2061-01-03
3      2061-01-04
4      2061-01-05
          ...
6569   1978-12-27
6570   1978-12-28
6571   1978-12-29
6572   1978-12-30
6573   1978-12-31
Name: Yr_Mo_Dy, Length: 6574, dtype: datetime64[ns]

In [107]:
#66. Yr_Mo_Dy에 존재하는 년도의 유일값을 모두 출력하라
Ans = df.Yr_Mo_Dy.dt.year.unique()
Ans

array([2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978], dtype=int64)

In [108]:
#67. Yr_Mo_Dy에 년도가 2061년 이상의 경우에는 모두 잘못된 데이터이다.
# 해당경우의 값은 100을 빼서 새롭게 날짜를 Yr_Mo_Dy 컬럼에 정의하라.
def fix_century(x):
    import datetime
    
    year = x.year -100 if x.year >= 2061 else x.year
    return pd.to_datetime(datetime.date(year, x.month, x.day))

df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(fix_century)


Ans = df.head(4) 
Ans

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88

In [112]:
def fix_century(x):
    import datetime
    
    year = x.year - 100 if x.year >= 2061 else x.year
    return pd.to_datetime(datetime.date(year, x.month, x.day))

df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(fix_century)
#df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(fix_century)

Ans = df.head(4)

Ans

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88

In [116]:
#68. 년도별 각컬럼의 평균값을 구하여라
#
Ans = df.groupby(df.Yr_Mo_Dy.dt.year).mean()
#Ans = df.groupby(df.Yr_Mo_Dy.dt.year).mean()
Ans

C:\Users\82106\AppData\Local\Temp\ipykernel_9284\2320653625.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Ans = df.groupby(df.Yr_Mo_Dy.dt.year).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

In [122]:
#69. weekday컬럼을 만들고 요일별로 매핑하라 ( 월요일: 0 ~ 일요일 :6)
Ans = df[['Yr_Mo_Dy']]
Ans

       Yr_Mo_Dy
0    1961-01-01
1    1961-01-02
2    1961-01-03
3    1961-01-04
4    1961-01-05
...         ...
6569 1978-12-27
6570 1978-12-28
6571 1978-12-29
6572 1978-12-30
6573 1978-12-31

[6574 rows x 1 columns]

In [128]:
df['weekday'] = df.Yr_Mo_Dy.dt.weekday

Ans = df['weekday'].head(3).to_frame()
Ans

   weekday
0        6
1        0
2        1

In [129]:
#70. weekday컬럼을 기준으로 주말이면 1 
# 평일이면 0의 값을 가지는 WeekCheck 컬럼을 만들어라.

df['WeekCheck'] = df['weekday'].map(lambda x: 1 if x in [5,6] else 0)
Ans = df['WeekCheck'].head().to_frame()
Ans

   WeekCheck
0          1
1          0
2          0
3          0
4          0

In [137]:
Ans = df.groupby(df.Yr_Mo_Dy.dt.month).mean()
Ans

C:\Users\82106\AppData\Local\Temp\ipykernel_9284\4086229833.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Ans = df.groupby(df.Yr_Mo_Dy.dt.month).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763,2.989247,0.284946
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142,3.005906,0.287402
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317,3.000000,0.283154
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611,3.011111,0.288889
5,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039,2.982079,0.283154
6,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818,3.007407,0.285185
7,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789,3.001792,0.288530
8,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943,2.991039,0.283154
9,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963,3.009259,0.287037
10,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151,2.998208,0.286738
11,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185,2.992593,0.283333
12,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599,3.017921,0.288530

In [138]:
#72. 모든 결측치는 컬럼기준 직전의 값으로 대체하고 첫번째 행에
# 결측치가 있을경우 뒤에있는 값으로 대채하라
df = df.fillna(method='ffill').fillna(method='bfill')
df.isnull().sum()

Yr_Mo_Dy     0
RPT          0
VAL          0
ROS          0
KIL          0
SHA          0
BIR          0
DUB          0
CLA          0
MUL          0
CLO          0
BEL          0
MAL          0
weekday      0
WeekCheck    0
dtype: int64